h1, h2 {
    font-family: 'Ultra';
    font-kerning: auto;
    letter-spacing: 0.05em;
    font-weight: 300;
}

.title {
    font-size: 3em;
    text-align: center;
    opacity: 85%;}

.title:hover {
    color: black;
    font-variant: small-caps;
    font-size: 4em;
}

body {
    background-color: #ff0000;
    font-family: 'PTSerif';}

.first-container {
    background-color: #5e0000;
    border-color: #856767;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    margin: auto;
    width: 85%;}

.second-container{
    background-color: #8d3f3f;
    border-color: #856767;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    margin: auto;
    width: 85%;
}

p {
    line-height: 1.45em}

body {
    color: #eae7e7;}

.center-image {
    text-align: center;
}

.center-image img {
    display: block;
    margin: 0 auto;
    padding: 10px
}

p:hover {
    color: whitesmoke;
    font-weight: bold;
    font-variant: small-caps;
}

img:hover {
    opacity: 50%;
}

