@font-face {
    font-family: 'DMSans';
    src: url(../fonts/DMSans-VariableFont_opsz\,wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: DMSans;
    src: url(../fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DMSerifDisplay';
    src: url(../fonts/DMSerifDisplay-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DMSerifDisplay';
    src: url(../fonts/DMSerifDisplay-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}